.ecran-titre {
	position: fixed;
	inset: 0;
	display: grid;
	place-items: center;
	background: var(--panel-light);
  animation: fondu-background 2.4s ease-in-out forwards;
  
	z-index: 2;

	& .texte-titre {
		margin: 0;
		padding: 1rem;
		
		font-family: minecraft, sans-serif;
		font-size: 6rem;
		  color: var(--yellow);
		text-transform: uppercase;
      text-shadow: 0 0 25px #000000,
    0 0 10px #ffe600;
		animation: fondu-titre 2.4s ease-in-out forwards;
	}

	&.cache {
		display: none;
	}

}

@keyframes fondu-titre {
	0% {
		opacity: 0;
		scale: 0.90;
	}
	30% {
		opacity: 1;
		scale: 1;
	}
	100% {
		opacity: 0;
		scale: 1.2;
	}

  


}

@keyframes fondu-background {
  0% {
    opacity: 1;
  } 
  100% {
    opacity: 0;
  }
}